<div class="container">
        <div class="row">
            <div class="col">
                <button kendoButton>Browse</button>
            </div>
    
    <div class="row">
      <div class="col">
          <kendo-grid [data]="gridData" [height]="400">
              <kendo-grid-column media="(max-width: 450px)" title="Items">
                  <ng-template kendoGridCellTemplate let-dataItem>
                      <!-- template for mobile -->
                      <h4 [class.discontinued]="dataItem.Discontinued">
                          {{ dataItem.Name }}
                      </h4>
                      <dl>
                          <dt>Category</dt>
                          <dd>{{ dataItem.Category.CategoryName }}</dd>
            
                          <dt>Price</dt>
                          <dd>{{ dataItem.UnitPrice }}</dd>
            
                          <dt>In stock</dt>
                          <dd>{{ dataItem.UnitsInStock }}</dd>
                      </dl>
                  </ng-template>
              </kendo-grid-column>
            
              <!-- columns for mid-size devices -->
              <kendo-grid-column
                  media="(min-width: 450px)"
                  field="ProductID" title="ID" width="40">
              </kendo-grid-column>
              <kendo-grid-column
                  [media]="sm"
                  field="ProductName" title="Name">
              </kendo-grid-column>
              <kendo-grid-column
                  media="(min-width: 450px)"
                  field="Category.CategoryName" title="Category">
              </kendo-grid-column>
            
              <!-- additional columns on large devices -->
              <kendo-grid-column
                  media="(min-width: 680px)"
                  field="UnitPrice" title="Price" width="80">
              </kendo-grid-column>
              <kendo-grid-column
                  media="(min-width: 680px)"
                  field="UnitsInStock" title="In stock" width="80">
              </kendo-grid-column>
              <kendo-grid-column
                  media="(min-width: 680px)"
                  title="Discontinued" width="120">
                  <ng-template kendoGridCellTemplate let-dataItem>
                      <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
                  </ng-template>
              </kendo-grid-column>
            </kendo-grid>
            
      </div>
    </div>
      <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <kendo-textbox-container floatingLabel="Email address">
                        <input kendoTextBox />
                      </kendo-textbox-container>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <kendo-textbox-container floatingLabel="Password">
                        <input kendoTextBox />
                      </kendo-textbox-container>
                </div>
                <button type="submit" kendoButton [primary]="true">Submit</button>
                <button  kendoButton [primary]="true">
                    <a routerLink="/child" routerLinkActive="active">Next</a>
                </button>
              </form>
        </div>
    
      </div>
    </div>